[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=time-tracker
Exec=/usr/bin/invoker --type=d -s /opt/time-tracker/bin/time-tracker
Icon=/usr/share/icons/hicolor/80x80/apps/time-tracker80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
